<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login - ThunderMail</title>
  <link rel="stylesheet" href="../css/login.css" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>

  <div class="logo-header">
    <img src="../img/logo.png" alt="Logo ThunderMail" class="login-logo">
  </div>

  <div class="login-container">
    <span class="material-symbols-outlined user-icon">account_circle</span>
    <h2>Entrar</h2>

    <form action="dashboard.html">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="seuemail@exemplo.com" required />
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" placeholder="••••••••" required />
      </div>

      <button type="submit" class="login-button">Login</button>
    </form>

    <div class="footer">
      <a href="redefinir.html">Esqueceu a senha?</a>
    </div>
  </div>

</body>
</html>
